<div class="card" style="background-color: lightgray;margin: 2% 5%; padding: 2% 1%;">
    <div class="card-body">
        <h1 class="card-title">Contact Manager App</h1>
        <a routerLink="/contacts/add" class="btn btn-primary">Create new Contact</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">John</h5>
        <p class="card-text">12345</p>
        <a routerLink="/contacts/2" class="card-link">View Details</a>
    </div>
</div>